In [1]:
import os

In [3]:
# 파일 리스트 생성
file_list = os.listdir("../csv/2017")

In [4]:
# 반복문을 이용해서 파일명들을 각각 print
# 각각 파일들을 pandas를 이용해서 파일을 로드하여 하나의 데이터 프레임으로 결합
# 결합은 유니언 결합 (concat)을 사용하여 결합
# hint : pd.read_csv파일의 경로 + 파일의 이름
# 비어있는 데이터프레임을 생성
# 반복문에서 read_csv -> pd.concat()

In [ ]:
# 반복문을 이용해서 파일명들을 각각 print
# case1(range 사용)
for i in range(0, len(file_list), 1):
    print(file_list[i])
# case1(list 사용)
for i in file_list:
    print(i)

In [15]:
## csv를 데이터프레임으로 변경
# pd.read_csv(파일경로)
print('../csv/2017' + '201712_expense_list.csv')

../csv/2017201712_expense_list.csv

In [16]:
import pandas as pd

In [24]:
file_path = '../csv/2017/'   #문자열을 변수에 담아준다
total_df = pd.DataFrame()    #비어있는 데이터프레임을 total_df에 저장
for i in file_list:          #file _list를 반복 -> 리스트 항목 하나하나씩 i에 넣어서
    print(file_path + i)     #file_path 문자열과 i의 값을 출력
    df = pd.read_csv(file_path + i) # file_path와 i를 합친 문자열 (상대주소)의 csv파일을 데이터프레임화 하여 df라는 변수에 저장하는 작업
    # case1
    # total_df = pd.concat([total_df, df], axis = 'rows').reset_index(drop=True)
    # case2
    total_df = pd.concat([total_df, df], axis = 0, ignore_index=True).reset_index(drop=True)

../csv/2017/201701_expense_list.csv
../csv/2017/201702_expense_list.csv
../csv/2017/201703_expense_list.csv
../csv/2017/201704_expense_list.csv
../csv/2017/201705_expense_list.csv
../csv/2017/201706_expense_list.csv
../csv/2017/201707_expense_list.csv
../csv/2017/201708_expense_list.csv
../csv/2017/201709_expense_list.csv
../csv/2017/201710_expense_list.csv
../csv/2017/201711_expense_list.csv
../csv/2017/201712_expense_list.csv

In [23]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [28]:
file_list2 = os.listdir("../csv/2021")

In [29]:
os.listdir("../csv/2021")

['202101_expense_list.csv',
 '202101_expense_list.json',
 '202101_expense_list.xlsx',
 '202101_expense_list.xml',
 '202102_expense_list.csv',
 '202102_expense_list.json',
 '202102_expense_list.xlsx',
 '202102_expense_list.xml',
 '202103_expense_list.csv',
 '202103_expense_list.json',
 '202103_expense_list.xlsx',
 '202103_expense_list.xml',
 '202104_expense_list.csv',
 '202104_expense_list.json',
 '202104_expense_list.xlsx',
 '202104_expense_list.xml',
 '202105_expense_list.csv',
 '202105_expense_list.json',
 '202105_expense_list.xlsx',
 '202105_expense_list.xml',
 '202106_expense_list.csv',
 '202106_expense_list.json',
 '202106_expense_list.xlsx',
 '202106_expense_list.xml',
 '202107_expense_list.csv',
 '202107_expense_list.json',
 '202107_expense_list.xlsx',
 '202107_expense_list.xml',
 '202108_expense_list.csv',
 '202108_expense_list.json',
 '202108_expense_list.xlsx',
 '202108_expense_list.xml',
 '202109_expense_list.csv',
 '202109_expense_list.json',
 '202109_expense_list.xlsx',
 '202109_expense_list.xml',
 '202110_expense_list.csv',
 '202110_expense_list.json',
 '202110_expense_list.xlsx',
 '202110_expense_list.xml',
 '202111_expense_list.csv',
 '202111_expense_list.json',
 '202111_expense_list.xlsx',
 '202111_expense_list.xml',
 '202112_expense_list.csv',
 '202112_expense_list.json',
 '202112_expense_list.xlsx',
 '202112_expense_list.xml']

In [37]:

for i in range(len(file_list2)):
    if file_list2[i][-3:] == 'csv':
            print(file_list2[i])

202101_expense_list.csv
202102_expense_list.csv
202103_expense_list.csv
202104_expense_list.csv
202105_expense_list.csv
202106_expense_list.csv
202107_expense_list.csv
202108_expense_list.csv
202109_expense_list.csv
202110_expense_list.csv
202111_expense_list.csv
202112_expense_list.csv

In [42]:
for i in file_list2:
    if i.endswith('.csv'):
        print(i)

202101_expense_list.csv
202102_expense_list.csv
202103_expense_list.csv
202104_expense_list.csv
202105_expense_list.csv
202106_expense_list.csv
202107_expense_list.csv
202108_expense_list.csv
202109_expense_list.csv
202110_expense_list.csv
202111_expense_list.csv
202112_expense_list.csv

In [43]:
file_path = '../csv/2017'

In [45]:
os.listdir(file_path)

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [60]:
## 함수 생성
## 매개변수 2개 path, end_string
def list_df(path, end_string):
    # file_list 생성
    file_list = os.listdir(path)
    # 확장자가 end_string 과 같은 경우의 리스트만 추출
    file_list2=[]
    for i in file_list:
        if i.endswith(end_string):
            file_list2.append(i)
        
    # case2
    file_list3 = [i for i in file_list if i.endswith(end_string)]
    print(file_list2 == file_list3)

    # file lins2의 리스트 항목들을 데이터프레임화 하여 하나의 데이터 프레임으로 결합
    
    #비어있는 데이터프레임 생성
    total_df = pd.DataFrame()
    for i in file_list2:
        # path는 매개변수, i는 file_list2 항목의 값
        df = pd.read_csv(path + i)
        # 불러온 데이터프레임을 total_df에 단순한 행 결합
        total_df = pd.concat([total_df, df], axis=0,ignore_index=True)

    # 합쳐진 데이터프레임을 리턴
    return total_df

In [ ]:
list_df('../csv/2017/', '.csv')

In [66]:
df_2017 = list_df('../csv/2017/', '/csv')
df_2018 = list_df('../csv/2018/', '.csv')

True
True

In [68]:
# json 데이터를 데이터프레임으로 로드
json_data = pd.read_json("../csv/2019/201901_expense_list.json")
json_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6392 entries, 0 to 6391
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                6392 non-null   int64
 1   title              6392 non-null   object
 2   url                6392 non-null   object
 3   dept_nm_lvl_1      6392 non-null   object
 4   dept_nm_lvl_2      6392 non-null   object
 5   dept_nm_lvl_3      6392 non-null   object
 6   dept_nm_lvl_4      6392 non-null   object
 7   dept_nm_lvl_5      6392 non-null   object
 8   exec_yr            6392 non-null   int64
 9   exec_month         6392 non-null   int64
 10  expense_budget     318 non-null    float64
 11  expense_execution  306 non-null    float64
 12  category           6392 non-null   object
 13  dept_nm_full       6392 non-null   object
 14  exec_dt            6392 non-null   object
 15  exec_loc           6392 non-null   object
 16  exec_purpose       6392 non-null   object
 17  target_nm          6392 non-null   object
 18  payment_method     6392 non-null   object
 19  exec_amount        6392 non-null   int64
dtypes: float64(2), int64(4), object(14)
memory usage: 998.9+ KB

In [72]:
# xlsx 파일을 로드하기위한 엔진 라이브러리를 설치
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/249.8 kB ? eta -:--:--
     -------------------------------------- 249.8/249.8 kB 7.7 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [73]:
# 엑셀 데이터를 데이터프레임으로 로드
excel_data = pd.read_excel("../csv/2020/202001_expense_list.xlsx")
excel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5282 entries, 0 to 5281
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                5282 non-null   int64
 1   title              5282 non-null   object
 2   url                5282 non-null   object
 3   dept_nm_lvl_1      5282 non-null   object
 4   dept_nm_lvl_2      5282 non-null   object
 5   dept_nm_lvl_3      4198 non-null   object
 6   dept_nm_lvl_4      1272 non-null   object
 7   dept_nm_lvl_5      81 non-null     object
 8   exec_yr            5282 non-null   int64
 9   exec_month         5282 non-null   int64
 10  expense_budget     355 non-null    float64
 11  expense_execution  276 non-null    float64
 12  category           224 non-null    object
 13  dept_nm_full       5282 non-null   object
 14  exec_dt            5282 non-null   object
 15  exec_loc           5236 non-null   object
 16  exec_purpose       5282 non-null   object
 17  target_nm          5257 non-null   object
 18  payment_method     5282 non-null   object
 19  exec_amount        5282 non-null   int64
dtypes: float64(2), int64(4), object(14)
memory usage: 825.4+ KB

In [83]:
## 함수 생성
## 매개변수 2개 path, end_string
def list_df(path, end_string):
    # file_list 생성
    file_list = os.listdir(path)
    # 확장자가 end_string 과 같은 경우의 리스트만 추출
    file_list2=[]
    for i in file_list:
        if i.endswith(end_string):
            file_list2.append(i)
        
    # case2
    file_list3 = [i for i in file_list if i.endswith(end_string)]
    print(file_list2 == file_list3)

    # file lins2의 리스트 항목들을 데이터프레임화 하여 하나의 데이터 프레임으로 결합
    
    #비어있는 데이터프레임 생성
    total_df = pd.DataFrame()
    for i in file_list2 :       
        # path는 매개변수, i는 file_list2 항목의 값
        if end_string == '.csv':
            df = pd.read_csv(path + i)
        elif end_string == '.json':
            df = pd.read_json(path + i)
        elif (end_string == '.xlsx') | (end_string == '.xls'):
            df = pd.read_excel(path + i)
        else :
            return '확장자가 잘못 입력되었습니다.'
      
        # 불러온 데이터프레임을 total_df에 단순한 행 결합
    total_df = pd.concat([total_df, df], axis=0,ignore_index=True)

    # 합쳐진 데이터프레임을 리턴
    return total_df

In [88]:
df_2019 = list_df("../csv/2019/", '.json')
df_2020 = list_df("../csv/2020/", '.xlsx')

True
True

In [89]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7815 entries, 0 to 7814
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                7815 non-null   int64
 1   title              7815 non-null   object
 2   url                7815 non-null   object
 3   dept_nm_lvl_1      7815 non-null   object
 4   dept_nm_lvl_2      7815 non-null   object
 5   dept_nm_lvl_3      6023 non-null   object
 6   dept_nm_lvl_4      2095 non-null   object
 7   dept_nm_lvl_5      207 non-null    object
 8   exec_yr            7815 non-null   int64
 9   exec_month         7815 non-null   int64
 10  expense_budget     0 non-null      float64
 11  expense_execution  0 non-null      float64
 12  category           114 non-null    object
 13  dept_nm_full       7815 non-null   object
 14  exec_dt            7815 non-null   object
 15  exec_loc           7776 non-null   object
 16  exec_purpose       7815 non-null   object
 17  target_nm          7775 non-null   object
 18  payment_method     7815 non-null   object
 19  exec_amount        7815 non-null   int64
 20  bimok              69 non-null     object
dtypes: float64(2), int64(4), object(15)
memory usage: 1.3+ MB

In [91]:
## 모듈 로드
import list_pandas

#import imp                   -> 파이썬 파일 수정 했을 때 다시 불러오는 명령어 (리로드)
#imp.reload(list_pandas)      -> 파이썬 파일 수정 했을 때 다시 불러오는 명령어

In [93]:
list_pandas.list_df('../csv/2017/', '.csv')

True

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
0,14356805,2017년 12월 서울시본청_행정국_인사과 업무추진비 내역,http://opengov.seoul.go.kr/public/14356805,서울시본청,행정국,인사과,NaN,NaN,2017,12,NaN,NaN,NaN,행정국 인사과,2017-12-28 22:44,김앤장 (중구 무교로 6),정년명예퇴임식 개선사항 검토를 위한 간담회비 지급,인사기획팀장 등 12명,카드,300000
1,14356805,2017년 12월 서울시본청_행정국_인사과 업무추진비 내역,http://opengov.seoul.go.kr/public/14356805,서울시본청,행정국,인사과,NaN,NaN,2017,12,NaN,NaN,NaN,행정국 인사과,2017-12-28 15:48,황금정 (종로구 당주동1),퇴임식 행사 진행순서 논의 등을 위한 간담회비 지급,성과관리팀장 등 13명,카드,380000
2,14356805,2017년 12월 서울시본청_행정국_인사과 업무추진비 내역,http://opengov.seoul.go.kr/public/14356805,서울시본청,행정국,인사과,NaN,NaN,2017,12,NaN,NaN,NaN,행정국 인사과,2017-12-27 20:45,CJ푸드빌 (중구 을지로3길),퇴임식 행사용역 중간 점검 등을 위한 간담회비 지급,인사기획팀장 등 15명,카드,425000
3,14356805,2017년 12월 서울시본청_행정국_인사과 업무추진비 내역,http://opengov.seoul.go.kr/public/14356805,서울시본청,행정국,인사과,NaN,NaN,2017,12,NaN,NaN,NaN,행정국 인사과,2017-12-26 21:28,우리집순두부 (중구 을지로3길),직원 인사교류 관련 검토를 위한 간담회비 지급,인사기획팀장 등 5명,카드,117000
4,14356805,2017년 12월 서울시본청_행정국_인사과 업무추진비 내역,http://opengov.seoul.go.kr/public/14356805,서울시본청,행정국,인사과,NaN,NaN,2017,12,NaN,NaN,NaN,행정국 인사과,2017-12-26 19:36,소호정 (중구 태평로1가),공무직 인사제도 개선논의를 위한 간담회비 지급,공무공공안전팀장 등 6명,카드,170000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7281,14292506,2017년 12월 사업소_은평병원_원무과 업무추진비 내역,http://opengov.seoul.go.kr/public/14292506,사업소,은평병원,원무과,NaN,NaN,2017,12,NaN,NaN,NaN,원무과,2017-12-15 16:40,보리네생고깃간(서오릉로 12),지역정신보건기관 업무협의 간담회,병원장 외 4명,카드,112000
7282,14292506,2017년 12월 사업소_은평병원_원무과 업무추진비 내역,http://opengov.seoul.go.kr/public/14292506,사업소,은평병원,원무과,NaN,NaN,2017,12,NaN,NaN,NaN,원무과,2017-12-12 20:39,항아리홍어(불광동 281-159),원무과 현안업무 추진직원 격려 간담회,원무과장 외 4명,카드,118000
7283,14292506,2017년 12월 사업소_은평병원_원무과 업무추진비 내역,http://opengov.seoul.go.kr/public/14292506,사업소,은평병원,원무과,NaN,NaN,2017,12,NaN,NaN,NaN,원무과,2017-12-04 21:17,횟집산이네(백련산로 160),18년 예산편성 관련 직원 격려 간담회,서무팀장 외 5명,카드,124000
7284,14292506,2017년 12월 사업소_은평병원_원무과 업무추진비 내역,http://opengov.seoul.go.kr/public/14292506,사업소,은평병원,원무과,NaN,NaN,2017,12,NaN,NaN,NaN,원무과,2017-12-05 18:21,삿뽀로(서오릉로 4),인증 관련업무 직원 격려 간담회,병원장 외 33명,카드,820000
7285,14292506,2017년 12월 사업소_은평병원_원무과 업무추진비 내역,http://opengov.seoul.go.kr/public/14292506,사업소,은평병원,원무과,NaN,NaN,2017,12,NaN,NaN,NaN,원무과,2017-12-06 18:00,스타벅스(응암동 96-1),전문의 및 전공의 격려 다과회,병원장 외 11명,카드,440000