In [26]:
#변수 선언
a = 10
b = 'test'

##변수 출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [27]:
a = 'test2'
print(a)

test2

In [28]:
##불형 데이터
##참과 거짓의 형태
a = True
print(type(a))

<class 'bool'>

In [29]:
b = (100>10)
c = (100<10)
d = (100==100)
print(b,c,d)

True False True

In [30]:
##산술 연산자
##기본적인 사칙연산
a = 7
b = 3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [31]:
c = 2
print(a+b*c)
print((a+b)*c)

13
20

In [32]:
##대입 연산자
a += 5  # a = a+5
print(a)

12

###조건문
- if문

In [33]:
a = 11
if a < 10 :
    print('a는 10보다 작다')

In [34]:
##if ~ else
a = 20

if a < 10:
    print('a는 10보다 작다')
else:
    print('a는 10보다 크거나 같다')

a는 10보다 크거나 같다

In [35]:
##if ~ elif ~ else문
score = int(input("점수를 입력하세요 :"))
print(score)
print(type(score))
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else :
    print("F")
print("프로그램 종료")

88
<class 'int'>
B
프로그램 종료

In [36]:
## 반복분
## for문
for i in range(0,10,1):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [37]:
for i in range(10):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [38]:
## 1부터 10까지의 합계
## for문

## 합계 변수 생성
sum = 0

for a in range(1, 11, 1):
    sum += a
    # sum = sum + a

print(sum)

55

In [44]:
## 다중 for문
## 구구단

for i in range(2, 10, 1):
    print("%d단" %i)
    for j in range(1, 20, 1):
        print("%d X %d = %d" %(i, j, i*j))

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36
3 X 13 = 39
3 X 14 = 42
3 X 15 = 45
3 X 16 = 48
3 X 17 = 51
3 X 18 = 54
3 X 19 = 57
4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48
4 X 13 = 52
4 X 14 = 56
4 X 15 = 60
4 X 16 = 64
4 X 17 = 68
4 X 18 = 72
4 X 19 = 76
5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70
5 X 15 = 75
5 X 16 = 80
5 X 17 = 85
5 X 18 = 90
5 X 19 = 95
6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72
6 X 13 = 78
6 X 14 = 84
6 X 15 = 90
6 X 16 = 96
6 X 17 = 102
6 X 18 = 108
6 X 19 = 114
7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98
7 X 15 = 105
7 X 16 = 112
7 X 17 = 119
7 X 18 = 126
7 X 19 = 133
8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
8 X 13 = 104
8 X 14 = 112
8 X 15 = 120
8 X 16 = 128
8 X 17 = 136
8 X 18 = 144
8 X 19 = 152
9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
9 X 13 = 117
9 X 14 = 126
9 X 15 = 135
9 X 16 = 144
9 X 17 = 153
9 X 18 = 162
9 X 19 = 171

In [47]:
## for문
## 1부터 100까지의 숫자중에 짝수의 합계
## hint : 1부터 100까지 반복
## if 조건식을 사용해서 짝수인 경우에만 +

## 합계 변수 생성
sum = 0

## 반복분 생성

for i in range(1,101,1):
    if i % 2 == 0:
        sum += i

print(sum)

2550

In [48]:
## 다중 for문
## 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값

for i in range(1,7,1):
    for j in range(1,7,1):
        if i + j == 5:
            print(i,j)

1 4
2 3
3 2
4 1

In [51]:
## while문

## 초기값 지정
i = 0

# while문 시작

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [52]:
## break문
for i in range(1, 101, 1):
    print("%d 번째 반복"%i)
    if i == 5:
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [54]:
## 1부터 100까지 합계를 구하는 중 합계가 500이 넘어가는 숫자와 합계의 값


sum = 0

for i in range(1,101,1):
    sum += i
    if sum >= 500:
        break

print('합계가 500 이상이 되는 범위의 숫자',i,'합계는',sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [59]:
### while 문

sum = 0
i = 1

while i <= 100:
    sum += i
    if sum >= 500:
        break
    i += 1

print('합계가 500 이상이 되는 범위의 숫자',i,'합계는',sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [62]:
## cuntinue문
for i in range(1, 10, 1):
    if i <= 3:
        continue
    print("%d 번쨰 반복"%i)

4 번쨰 반복
5 번쨰 반복
6 번쨰 반복
7 번쨰 반복
8 번쨰 반복
9 번쨰 반복

In [63]:
## 1부터 100까지의 짝수의 합계

sum = 0

for i in range(1, 101, 1):
    if i % 2 == 1:
        continue
    sum += i

print(sum)

2550

In [64]:
### 튜플
a = (1, 'hello')
b = (3, 3.14)
c = a+b
d = a*3
e = a[1]

print(a,b,c,d,e)

(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello') hello

In [66]:
## 숫자 1만 출력하고 싶으면?
print(a[0])

1

In [68]:
a = (10,20,30,40)

In [69]:
print(a[1:3])

(20, 30)

In [70]:
## 30,40 을 출력하려면?
print(a[2:])

(30, 40)

In [71]:
## list 형태 데이터
a = [20,10,50,5]
b = [10,20,30,40]

In [73]:
## sort() -> 오름차순 정렬로 변경
a.sort()
print(a)

[5, 10, 20, 50]

In [74]:
## reverse() -> 역순으로 정렬로 변경
b. reverse()
print(b)

[40, 30, 20, 10]

In [75]:
## append() -> 리스트의 마지막에 항목 추가
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [76]:
## 리스트의 특징
a = []
print(a)
a.append(10)
print(a)

[]
[10]

In [80]:
## 1부터 70까지 숫자들 중에 3의 배수를 리스트로 만들어서 출력하시오
a = []
print(a)
for i in range (0,71,3):
    a.append(i)
print(a)

[]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [82]:
## 1부터 70까지 숫자들 중에 3의 배수를 리스트로 만들어서 출력하시오
l = []

## 1부터 70까지 반복 
for i in range(1,71,1):
    ## 3의 배수 조건식
    if i % 3 == 0:
        l.append(i)

print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [84]:
for i in [5,7,10]:
    print(i)

5
7
10

In [89]:
sum = 0
for i in l:
    sum += i

print(sum)

828

In [95]:
## 딕셔너리
## 사전형 데이터
## {key1 : value1, key2 : value2, ...}
dict = {
    "name" : "test",
    "age" : 20,
    "phone" : "01012345678"
}

In [96]:
print(dict["name"])

test

In [97]:
## 새로운 key : value 를 대입
dict['area'] = "seoul"

print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [112]:
##  Database에서 데이터를 받아올 때 데이터의 형태 확인
## [ { }, { }, { } ]
test_data = [ {
    "name" : "test1",
    "age" : 20
},
{
    "name" : "test2",
    "age" : 30
},
{
    "name" : "test3",
    "age" : 40
}]

In [122]:
print(test_data[0])

{'name': 'test1', 'age': 20}

In [117]:
print(test_data[0]['name'])

test1

In [123]:
## test_data에서 name의 값들만 리스트의 형태로 출력
name_list = []

for name in test_data:
    name_list.append(name["name"])

print(name_list)

['test1', 'test2', 'test3']

In [125]:
name_list = []

for i in range(0,len(test_data),1):
    name_list.append(test_data[i]['name'])


print(name_list)

['test1', 'test2', 'test3']

In [126]:
## 문자열 내장 함수

## 대문자, 소문자 변환
## upper(), lower()
text = "hello world"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [127]:
text = "    Hello world     "
print(text)

    Hello world

In [128]:
## 공백 제거 함수     
# ## strip() :  양쪽의 공백 제거
## lstrip() : 왼쪽의 공백 제거
## rstrip() : 오른쪽의 공백 제거
print(text.lstrip())
print(text.rstrip())
print(text.strip())

Hello world
    Hello world
Hello world

In [129]:
## replace()
## 선택한 문자열을 변경
## 공백을 제거하는데도 사용이 가능
text.replace(" ", "")

'Helloworld'

In [130]:
text.replace("Hello", "Hi")

'    Hi world     '

In [131]:
### split()
## 기준이 되는 문자열이나 , . / 와 같은 특수문자열을 기준으로 문자열을 나줘주는 역할
a = "a,b,c,d,e"
print(a)

a,b,c,d,e

In [132]:
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [134]:
##함수
def func_1():
    return "Hello World"

In [135]:
print(func_1())
print(func_1())
print(func_1())

Hello World
Hello World
Hello World

In [140]:
## 매개변수가 존재하는 함수 생성
def func_2(x,y):
    result = x+y
    return result

In [141]:
print(func_2(5,3))
print(func_2(1,3))
print(func_2(10,4))

8
4
14

In [142]:
func_2(1)

TypeError: func_2() missing 1 required positional argument: 'y'

In [144]:
### 매개변수의 기본값을 정의
def func_3(x,y=3):
    result = x+y
    return result

print(func_3(5,1))
print(func_3(3))

6
6

In [147]:
def func_4(x,y):
    result = x ** y
    return result

print(func_4(5,2))
print(func_4(y=5, x=2))   #순서를 맞추지 않아도 가능 한 방법

25
32

1. 함수를 하나 생성. 매개변수 2개 (x,y)
2. 함수가 하는 행동 ( x 부터 y까지의 합을 리턴 ) - for/while문
3. x보다 y가 작은 경우에는 x부터 y까지의 합, 반대인 경우에는 y부터 x까지의 합을 리턴

In [166]:
def func_5(x, y):
    f_sum = 0
    for i in range(x,y+1,1):
        f_sum += i
    return f_sum

print(func_5(1,10))
print(f_sum)      #값이 없다. 왜? -> f_sum은 함수 안에 있는 지역변수 라서 밖에서 출력하는 프린트에서는 값이 나오지 않음.

55

In [167]:
def func_6(x,y):
    f_sum = 0
    while x <= y :
        f_sum += x
        x += 1
    return f_sum
print(func_6(1,10))

55

In [168]:
def func_7(x,y):
    f_sum = 0
    ## x 가 y보다 작은 경우
    if x < y :
        for i in range(x,y+1,1):
            f_sum += i
    else:
        for i in range(y,x+1,1):
            f_sum += i
    return f_sum

print(func_7(1,10))
print(func_7(10,1))

55
55

In [169]:
def func_8(x,y):
    f_sum = 0
    for i in range(min(x,y),max(x,y)+1,1):
        f_sum += i
    return f_sum

print(func_8(1,10))
print(func_8(10,1))

55
55

1. 함수 생성( 매개변수 3개 x, y, z)
2. z의 값이 '합' x+y 리턴
3. z의 값이 '차' x-y 리턴
4. z의 값이 둘 다 아니면 '연산식이 잘못되었습니다' 리턴

In [188]:
def func_9(x,y,z):
    if z == "합":
        return x+y
    if z =="차":
        return x-y
    else :
        result= "연산식이 잘못되었습니다"
    return result

print(func_9(1,3,'합'))
print(func_9(1,3,'차'))
print(func_9(1,3,'곱'))

4
-2
연산식이 잘못되었습니다

In [175]:
def func_10(x,y,z):
    if z =="합":
        result = x + y
    elif z == "차":
        result = x - y
    else : 
        result = "연산식이 잘못되었습니다"
    return result

print(func_10(1,3,'합'))
print(func_10(1,3,'차'))
print(func_10(1,3,'곱'))

4
-2
연산식이 잘못되었습니다

In [182]:
def func_11(x):
    result = x **2
    return result

l = [1,2,3,4]

result = []

for i in l:
    result.append(func_11(i))
print(result)

[1, 4, 9, 16]

In [183]:
## map 함수
result_2 = list(map(func_11, l))
print(result_2)

[1, 4, 9, 16]

In [184]:
## 람다 함수
lamb = lambda x: x**2
print(lamb(4))

16

## 함수
1. 함수 생성 - def 키워드를 이용해서 생성
2. 매개변수 0개부터 생성
3. 매개변수의 개수와 인자의 개수는 같아야한다.
4. 매개변수에 기본값을 지정하면 인자에 값을 넣지 않아도 함수는 실행

In [ ]:
##함수생성
def func_1(a, b, c, d):
    print(a, b, c, d)

##함수 호출(매개변수의 개수와 인자의 개수를 동일하게)
func_1(1, 2, 3, 4)
func_1(4, 3, 2, 1)

:

In [ ]:
##매개변수에 기본값 지정하여 함수 생성
def func_2(a, b, c=3, d=4):
    print(a, b, c, d)

##함수호출
func_2(1, 2)
func_2(1, 2, 3, 5)

:

### 클래스
### 크게 2가지로 구성   1.속성  2.매서드

# 속성 : 클래스가 가지는 변수
# 매서드 : 클래스가 가지는 동작(함수)